[submodule "External/GLFW"]
	path = External/GLFW
	url = https://github.com/glfw/glfw
[submodule "External/GLM"]
	path = External/GLM
	url = https://github.com/g-truc/glm.git
[submodule "External/VulkanMemoryAllocator"]
	path = External/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "External/Slang"]
	path = External/Slang
	url = https://github.com/shader-slang/slang.git
